.container-fluid{
  text-align: center;
background-color: #222831;
color: #00adb5;
}
#Text{
  color: #00fff5;
  font-size:40px;
  background:#393e46;
  font-style:oblique;
}
#Inicio{
    font-size:50px;
}
#links{
}
.img-thumbnail{
  width: 50%;
}
@media only screen and (min-width:768px){
#Inicio{
  font-size: 100px;
  }
}
@media only screen and (min-width:1200px){
  #Inicio{
    font-size: 150px;
    }
}
