.container-fluid{
  text-align: center;
background-color: #222831;
color: #00adb5;
}
#Text1{
  color: #00fff5;
  font-size:20px;
  background:#393e46;
  font-style:oblique;
}
#Text2{
  color: #00adb5;
  font-size:20px;
  background:#222831;
  font-style:oblique;
}
#Inicio{
    font-size:50px;
}
#links{
}
@media only screen and (min-width:768px){
  #Inicio{
    font-size: 100px;
    }
  .img-thumbnail{
    width: 50%;
  }
  #Text1{
    color: #00fff5;
    font-size:40px;
    background:#393e46;
    font-style:oblique;
  }
  #Text2{
    color: #00adb5;
    font-size:40px;
    background:#222831;
    font-style:oblique;
  }
}
@media only screen and (min-width:1024px){
  #Inicio{
    font-size: 130px;
    }
    .img-thumbnail{
      width: 100%;
    }
}
@media only screen and (min-width:1200px){
  #Inicio{
    font-size: 150px;
    }
    .img-thumbnail{
      width: 90%;
    }
}
