.container-fluid{
  text-align: center;
background-color: #222831;
color: #00fff5;
}
#Text{
  color: #00fff5;
  font-size:40px;
  background:#393e46;
  font-style:oblique;
}
#Inicio{
    font-size:100px;
}
